// styles.scss

//$invert: false;

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  //$filterValue: if($invert and $theme.palette.type == "dark", 1, 0);

  .logo {
    width: 100%;
    height: auto;
    flex-grow: 1;
   // filter: invert($filterValue);
  }

  .logoContainer {
    width: 60%;
    flex-grow: 1;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin {
    animation: App-logo-spin infinite 20s linear;
  }
}
